* {
    margin: 0;
    padding: 0;
    
}
:root {
    --gap: 24px;

    --ff-primary: font-family: 'Roboto Mono', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-dark: #000000;
    --clr-gold: #ac9c2c;
     
    --fs-h1: 3rem;
    --fs-body: 1rem;

}

html, body {
    background-color: var(--clr-dark);
    color: var(--clr-gold);
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo {
    font-size: 30px;
    font-weight: var(--fw-bold);
}

.logo a {
    text-decoration: none;
    color: var(--clr-gold);
}

.nav__list {
    list-style: none;
}

nav>ul>li {
    display: inline-block;
    padding: 10px;
}
nav>ul>li>a {
    text-decoration: none;
    color: var(--clr-gold);
}

nav>ul>li>a:hover {
    color: brown;
}


main {
    padding: 150px;
    text-align: center;
}

footer {
    padding: 30px;
    text-align: center;
}

footer a {
    color: var(--clr-gold);
    text-decoration: none;
}

.social-icons {
    margin-top: 4px;
}

.social-icons a {
    padding: 5px;
    color: var(--clr-gold);
}
